# Configuración de ejemplo
# Renombra este archivo a .env en producción

FLASK_ENV=development
FLASK_APP=app.py
SECRET_KEY=clave_super_segura_2026_ColegioSys
DATABASE_URL=mysql+mysqlconnector://root@localhost/colegio_sys
DEBUG=True

# Base de Datos
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=colegio_sys
DB_PORT=3306
